
@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <title>Blank Page - Vali Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My Application</title>
  @RenderPage("_CSS.cshtml")
</head>
<body class="app sidebar-mini rtl">

  @RenderBody()

  @RenderPage("_Scripts.cshtml")

  @RenderSection("scripts", required: false)
</body>
</html>
